// as documented at http://angular-ui.github.io/bootstrap/#/getting_started
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.footer{
    margin-top:200px;
    padding-top:45px;
    text-align:center;
    clear:left;
    height:100px;
    width:100%;
}

// typeahead-suggest styles (needed or included in bootstrap-css?!)

.suggest-item{
    border-bottom:1px solid #ccc;
    padding:5px;
}
.suggest-item:hover{
    background-color:#428bca;
    color:white;
    cursor:pointer;
}
.suggest-item-label{
    border-bottom:none;
    padding:0px;
    margin:0px;
}
.suggest-item-description{
    border-bottom:none;
    padding:0px;
    font-style:italic;
    margin:0px;
}


