// as documented at http://angular-ui.github.io/bootstrap/#/getting_started
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.loading-icon {
    position:absolute; 
    margin-top:10px; 
    right:25px;
}

.footer{
    margin-top:200px;
    padding-top:45px;
    text-align:center;
    clear:left;
    height:100px;
    width:100%;
}
