<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>ng-suggest demo</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="app.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="../src/ngSuggest.js"></script>
  <script src="../src/services/OpenSearchSuggestions.js"></script>
  <script src="../src/directives/opensearch-suggest.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="myController">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Typeahead via OpenSearch Suggest</h2>
        </div>
        <div class="col-md-6">
            <a href="http://opensearch.org">OpenSearch</a> ist ein System, das Regeln für eine standardisierte Rückgabe von Suchergebnissen aufstellt. Es wird von vielen Seiten verwendet und wird von den meisten Browsern unterstützt. Suggest-Dienste geben Vorschläge für Autovervollständigung von Suchbegriffen. Einige Beispiele auf Basis von AngularJS (mit dem Bootstrap-Layout) werden hier präsentiert.
        </div>
		</div>
		<div class="row">
        <div class="col-md-12">
            <h3>geonames</h3>
        </div>
            <script type="text/ng-template" id="sampleTemplate1.html">
            <div class="item">
							<div class="item-label">
								<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
							</div>
							<div class="item-description">
								{{match.model.description}}
							</div>
						</div>
            </script>
        <div class="col-md-6">
            <p>
                In der geonames Suggest-Datenbank sind Orte in Deutschland mit Links zu ihrer Geonames-Seite (<a href="http://geonames.org">geonames.org/</a>) hinterlegt.
            </p>
        </div>
        <div class="col-md-6">
            <pre>Input: {{input[0] | json}}</pre>
            <pre>suggest: {{api[0]}}</pre>
            <input ng-model="input[0]" 
                   opensearch-suggest="{{api[0]}}"
                   suggest-function="suggest1"
                   typeahead="item.label for item in suggest1($viewValue) | filter:$viewValue"
                   typeahead-template-url="sampleTemplate1.html" 
                   typeahead-loading="loadingLocations1"
                   class="form-control"
                   typeahead-editable="false"
                   typeahead-on-select="onSelect1($item, $model, $label)"/>
            <i ng-show="loadingLocations1" class="glyphicon glyphicon-refresh"></i>
					<div class="res-link">
            <a href="{{$item1.url}}">{{$item1.url}}</a>
					</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>gn250</h3>
        </div>
        <script type="text/ng-template" id="sampleTemplate2.html">
					<div class="item">
						<div class="item-label">
							<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
						</div>
						<div class="item-description">
							{{match.model.description}}
						</div>
					</div>
				</script>
        <div class="col-md-6">
            <p>
            Der GN250-Suggest bezieht sich auf geographische Daten des Bundesamtes für Kartographie und Geodäsie (<a href="http://www.geodatenzentrum.de/geodaten/gdz_rahmen.gdz_div?gdz_spr=deu&gdz_akt_zeile=5&gdz_anz_zeile=1&gdz_unt_zeile=20&gdz_user_id=0">BKG-Homepage</a>). Die Einträge sind mit einer Typbezeichnung versehen, etwa "Landschaft".
            </p>
        </div>
        <div class="col-md-6">
            <pre>Input: {{input[1] | json}}</pre>
            <pre>API: {{api[1]}}</pre>
            <input ng-model="input[1]" 
               opensearch-suggest="{{api[1]}}"
               suggest-function="suggest2"
               typeahead="item.label for item in suggest2($viewValue) | filter:$viewValue"
               typeahead-template-url="sampleTemplate2.html" 
               typeahead-loading="loadingLocations2"
               class="form-control"
							 typeahead-on-select="onSelect2($item, $model, $label)"/>
            <i ng-show="loadingLocations2" class="glyphicon glyphicon-refresh"></i>
            <div class="res-link">
							<a href="{{$item2.url}}?format=xml">{{$item2.url}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>gnd</h3>
        </div>
        <script type="text/ng-template" id="sampleTemplate3.html">
					<div class="item">
						<div class="item-label">
							<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
						</div>
					</div>
        </script>
        <div class="col-md-6">
            <p>
                Der GND-Suggest verweist auf die Einträge der Normdateien der Deutschen Nationalbibliothek (<a href="http://portal.dnb.de">Portal der DNB</a>).
            </p>
        </div>
        <div class="col-md-6">
            <pre>Input: {{input[2] | json}}</pre>
            <pre>API: {{api[2]}}</pre>
            <input ng-model="input[2]" 
               opensearch-suggest="{{api[2]}}"
               suggest-function="suggest3"
               typeahead="item.label for item in suggest3($viewValue) | filter:$viewValue"
               typeahead-template-url="sampleTemplate3.html" 
               typeahead-loading="loadingLocations3"
               class="form-control" 
               typeahead-on-select="onSelect3($item, $model, $label)"/>
            <i ng-show="loadingLocations3" class="glyphicon glyphicon-refresh"></i>
            <div class="res-link">
            <a href="{{$item3.url}}">{{$item3.url}}</a>
            </div>
        </div>
		</div>
		<div class="row">
      <div class="col-md-12">
        <h3>Wikipedia</h3>
      </div>
        <script type="text/ng-template" id="sampleTemplate5.html">
				<div class="item">
					<div class="item-label">
					<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
					</div>
        </div>
        </script>
        <div class="col-md-6">
            <p>
            <a href="http://de.wikipedia.org">Wikipedia</a> bietet einen OpenSearch Suggest-Dienst an, der hiermit angesteuert werden kann.
            </p>
        </div>
        <div class="col-md-6">
            <pre>Input: {{input[3] | json}}</pre>
            <pre>API: {{api[3]}}</pre>
            <input ng-model="input[3]" 
                   opensearch-suggest="{{api[3]}}"
                   suggest-function="suggest4"
                   typeahead="item.label for item in suggest4($viewValue) | filter:$viewValue"
                   typeahead-template-url="sampleTemplate4.html" 
                   typeahead-loading="loadingLocations4"
                   class="form-control" 
									 typeahead-on-select="onSelect5($item, $model, $label)"/>
            <i ng-show="loadingLocations5" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="col-md-6">
              ng-suggest is based on 
              <a href="http://angular-ui.github.io/bootstrap/#/typeahead">ui.bootstrap.typeahead</a>.
        </div>
		</div>
</body>
</html>
